html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  font-size: 0.8rem;
  color: #222;
}

header {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

header nav ol li {
  list-style: none;
}

header nav ol a {
  text-decoration: none;
  font-size: 1.125rem;
  color: #8f2440;
  line-height: 1.5;
}

header nav ol a:hover {
  color: #3f1622;
  text-decoration: underline;
}

main figure img {
  size: 100%;
}

h1, h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

figcaption {
  font-style: italic;
  text-align: center;
}

p.bld {
  font-weight: bold;
  font-size: 1.125rem;
}

b {
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
  line-height: 1.5;
}

blockquote cite {
  font-size: 0.8rem;
}

aside ol li {
  list-style-type: lower-greek;
}

aside p {
  font-style: italic;
}

aside dl dt {
  font-weight: bold;
}

aside ul li {
  list-style-type: circle;
}

footer small a {
  color: #8f2440;
  text-decoration: none;
}

footer small a:hover {
  color: #3f1622;
  text-decoration: underline;
}
